 <!-- About Section -->
    <section id="about">
        <!-- <div class="container"> -->
            <div class="row">
                <!-- <div class="col-lg-12 text-center"> -->
                <div class="aboutclass">
                    <hr>
                    <!-- <h2>About</h2> -->
                    <h2>About</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="small">I'm a theoretical neuroscientist, with a background in pure mathematics. I'm currently a <a href="http://cbs.fas.harvard.edu/science/swartz-program">Swartz fellow</a> at Harvard University in the <a href="http://cbs.fas.harvard.edu">Center for Brain Science</a>.
                </div>
            </div>
        <!-- </div> -->
    </section>
