<li class="title">
  {% if paper.selected %}
  <i class="fa fa-star"></i>
  {% endif %}
  {{ paper.title }}
</li>
<li class="author">
  {% if paper.author %}
    {{ paper.author }}
  {% endif %}
  {% if paper.year %}
    ({{ paper.year }}). <em>
  {% endif %}
  {% if paper.journal %}
    {{ paper.journal }}</em>. {{ paper.pg }}
  {% endif %}
</li>
<ul class="list-inline">
  {% if paper.arxiv %}
  <li class="paper-links">
    <a href="{{ paper.arxiv }}" class="btn-small" target="_blank"><i class="ai ai-fw ai-arxiv ai-lg"></i></a>
  </li>
  {% endif %}
  {% if paper.biorxiv %}
  <li class="paper-links">
    <a href="{{ paper.biorxiv }}" class="btn-small" target="_blank"><i class="ai ai-fw ai-biorxiv ai-lg"></i></a>
  </li>
  {% endif %}
  {% if paper.journallink %}
  <li class="paper-links">
    <a href="{{ paper.journallink }}" class="btn-small" target="_blank"><i class="fa fa-fw fa-book fa-lg"></i></a>
  </li>
  {% endif %}
  {% if paper.pdf %}
  <li class="paper-links">
    <a href="{{ paper.pdf }}" class="btn-small" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg"></i></a>
  </li>
  {% endif %}
  {% if paper.info %}
  <li class="paper-links">
    <a href="{{ paper.info }}" class="btn-small" target="_blank"><i class="fa fa-fw fa-info fa-lg"></i></a>
  </li>
  {% endif %}
  {% if paper.commentary %}
  <li class="paper-links">
    <a href="{{ paper.commentary }}" class="btn-small" target="_blank"><i class="fa fa-fw fa-comments fa-lg"></i></a>
  </li>
  {% endif %}
  {% if paper.github %}
  <li class="paper-links">
    <a href="{{ paper.github }}" class="btn-small" target="_blank"><i class="fa fa-fw fa-github-square fa-lg"></i></a>
  </li>
  {% endif %}
</ul>
