<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="canonical" href="/">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

  <style>
    .bigbackground {
      background-image: url(possible_background_images/golgi_hippocampus.jpg);
      background-repeat: no-repeat;
      background-size: 1000px auto;
      background-position: center;
      max-width: 800px;
      margin: auto;
    }
    .wrapper {
      /* background-color: rgba(205, 126, 188, 0.6); */
    }
  </style>

  <!-- style sheet -->
  <link rel="stylesheet" href="style.css">

  <!-- Google verification -->
  {% if site.google_verify %}
  <meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/academicons-1.8.6/css/academicons.min.css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
