---

---
<header>
  <!-- image of sam -->
  <img height=250 src="/assets/images/LewallenSam.jpg" alt="" title="Sam Lewallen">

  <!-- name of sam -->
  <div class="name">
    Sam Lewallen
  </div>

  <!-- social network stuff -->
  <ul id="soc" class="list-inline">
    {% for network in site.socialfa %}
    <li>
      <a href="{{ network.url }}" class="btn-social" target="_blank"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
    </li>
    {% endfor %}
    {% for network in site.socialai %}
    <li>
      <a href="{{ network.url }}" class="btn-social" target="_blank"><i class="ai ai-fw ai-{{ network.title }}"></i></a>
    </li>
    {% endfor %}
  </ul>

  <!-- email -->
  <div class="email">
    <a href="mailto:{{site.email}}">{{site.email}}</a>
  </div>

  <br>
  <br>
  Click <a href="{{ site.compneurojc }}">HERE</a><br>for MIT/Harvard computational<br>neuroscience journal club
</header>
