  <!-- Header -->
  <header>
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <div class="col-lg-12">
      <img height=250 src="img/LewallenSam.jpg" alt="">
      <div class="intro-text">
        <span class="name">Sam Lewallen </span>
        <br>
        <!-- <br> -->
        <ul class="list-inline">
          {% for network in site.socialfa %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
          {% for network in site.socialai %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i class="ai ai-fw ai-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
          <br>
          <!-- <span style="direction: rtl; unicode-bidi: bidi-override;">ude [tod] notecnirp [ta] nellawel</span> -->
          <script src="/js/mailme.js"></script>
        </ul>
      </div>
    </div>
  </header>
