<!doctype html>
<html lang="en">

<!-- head -->
{% include head.html %}
<!-- end head -->

<!-- body -->
<body class="bigbackground">
  <div id="outerwrapper">
    <div class="wrapper">

      <!-- navbar -->
      {% include nav.html %}
      <!-- end navbar -->

      <!-- header -->
      <div id="parent" class="content">
        <div id="child">
          {% include header.html %}
          <br>
        </div>
      </div>
      <!-- end header -->

      <br>
      <br>
      <br>
      <br>

      <div id="parentpub" class="content">
        <div id="childpub">
          <br>
          {{ content }}
          <br>
        </div>
      </div>

      <!-- footer -->
      {% include footer.html %}
      <!-- end footer -->

    </div>
  </div>
</body>

</html>
