/***** FROM ASHOK: *****/
@font-face { font-family: LibreFranklin; src: url('../fonts/librefranklin/LibreFranklin-Medium.ttf'); }
@font-face { font-family: LibreFranklinEm; src: url('../fonts/librefranklin/LibreFranklin-BoldItalic.ttf'); }
@font-face { font-family: firasans; src: url('../fonts/firasans/FiraSans-Regular.ttf'); }
@font-face { font-family: firasansEm; src: url('../fonts/firasans/FiraSans-BoldItalic.ttf'); }
/*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/

{% include css/bootstrap.min.css %}

#topbar {
  top: inherit;
  min-height: 2.2em;
  line-height: 2.2em;
  background: rgba(47, 204, 50, 0.6);
  font-family: Courier,serif;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.navbox {
  float: left;
  width: 20%;
  max-width: 15em;
  background: inherit;
  background-color: transparent;
}
.navbox a,
.navbox a:visited {
  display: block;
  padding-left: 1em;
  color: White;
  font-size: 90%;
}
.navbox a:hover,
.navbox a:visited:hover {
  background: White;
  color: Black;
}
#backtotop {
   position: fixed;
   right: 0;
   bottom: 0;
   z-index: 1;
   background: LimeGreen;
   display: block;
   text-align: center;
   font-size: 150%;
}
#backtotop a,
#backtotop a:visited {
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   display: block;
   color: White;
}
#backtotop a:hover,
#backtotop a:visited:hover {
   background: OrangeRed;
}
.content {
  max-width: 960px;
  background-color: white;
  padding-top: 1em;
  padding-left: .85em;
  padding-right: .85em;
  padding-bottom: .85em;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.content img {
  display: inline;
  max-width: 192px;
  max-height: 192px;
  margin-top: 10px;
  margin-bottom: 25px;
  /* margin-right: 15px; */
  float: left;
}
.content a { color: BlueViolet; }
.content a:hover, a:visited:hover { color: DarkOrange; }
a:link, a:visited { text-decoration: none; }
h1 {
  font-weight: normal;
  /* font-size: 140%; */
  margin-bottom: 0;
  margin-top: -.5em;
  padding-top: 0em;
}
h2 {
  font-weight: normal;
  /* font-size: 70%; */
  margin-bottom: -1em;
  margin-top: 0;
  padding-top: .2em;
  padding-bottom: 0em;
}
h3 {
  font-weight: normal;
  /* font-size: 140%; */
  margin-bottom: 0;
  margin-top: -.3em;
  padding-top: 0em;
}
body {
  margin: 0;
  line-height: 1.4;
  /* font-family: sans-serif; */
  /* font-family: Helvetica, serif; */
  /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  /* font-family: Montserrat,serif; */
  font-family: Verdana;
  font-size: 15px;
}
html {
}
table {
    border-collapse: collapse;
    margin-top: 1em;
    border-top: 1em;
}
table,th,td {
    /*border: 1px solid #eeeeee;*/
    border: 1px solid #ECDEDE;
    text-align: left;
}
td {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
hr {
    border: 0;
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
}
blockquote {
    margin-top: -1em;
}
ul {
  margin-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 15px;
}
/***** FROM MUMFORD: *****/
/* PAGE CONTAINER:; */
.wrapper {
  padding: 35px 40px;
  background-color: rgba(255,255,255,0);
  /*background-color: rgba(205, 126, 188, 0.6);*/
  position: relative;
  /*overflow: hidden;*/
}
#outerwrapper {
  padding:0 20px;
  max-width:960px;
  min-width:100px;
  margin:20px auto;
}
.bigbackground {
  background-attachment: fixed;
  background-color: transparent;
  background-size: cover;
}
/* .ornament {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
} */
.topleft, .topright {top:-24px}
.topleft, .bottomleft {left:-24px;}
.topright, .bottomright {right:-24px;}
.bottomleft, .bottomright {bottom:-24px;}
#footer {
  background-color: white;
  border: 1px solid black;
  /* padding-left: .25em; */
}
#footer p {
  /* font-size: 60%; */
  margin: 0;
}
/* Added for vertical centering: (05/19/17, http://vanseodesign.com/css/vertical-centering/) */
#parent {
    padding-top: 19px;
    /* padding-bottom: 30px; */
    margin-bottom: 30px;
}
#child {
    padding-top: 22px;
    /* padding-bottom: 0px; */
    margin-bottom: 0px;
    /* font-size: 100%; */
}
/* from main.css (alex williams )*/
/* pub stuff*/
.pub-list {
    list-style-type: none;
    /*margin-left: 15px;*/
}
.pub-list .author{
    font-size: 80%;
    color: #CC5757;
    padding-bottom: 6px;
}
.pub-list .paper-links{
    color: #CC5757;
    padding-bottom: 23px;
}
.pub-list .title{
    font-size: 15px;
    font-family: Verdana;
}
/* button stuff */
.btn-small{
    color: #2C3E50;
}
.btn-small:hover{
    color:red;
    transition: all .3s ease-in-out;
}
/* contact stuff */
.contact{
    /*margin-top: -10px*/
    /* font-size: 20px; */
}
.contact:hover{
    /*font-size: 20px;
    transition: all .3s ease-in-out;*/
}
/* header stuff */
header {
    text-align: center;
}
header .container {
    /*padding-top: 100px;
    padding-bottom: 50px;*/
}
header img {
    /*display: block;
    margin: 0 auto 20px;*/
}
header .intro-text .name {
    /*display: block;
    text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 700;
}
/* social buttons */
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #2C3E50;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}
p.small {
    padding-left: 5px;
    padding-top: 5px;
    /* font-family: Verdana; */
    font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.intro-aboutrow {
  margin-left: 5px;
  margin-right: 5px;
}
p.htitle{
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
